# compilation and distribution
__pycache__
_ext
*.pyc
*.so
maskrcnn_benchmark.egg-info/
build/
dist/

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# Pycharm editor settings
.idea

# project dirs
/datasets
/models

.DS_Store
download.zip
*.jpg
download/retail_product_checkout/instances_val2019.json
download/retail_product_checkout/instances_train2019.json
download/retail_product_checkout/instances_test2019.json
download/instances_val2019.json
download/instances_train2019.json
download/instances_test2019.json
